@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin  for-ul {
   list-style: none;
   display: flex;
   align-items: center;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin row {
    display: flex;
    justify-content: space-between;   
}